<strong>Bem vindo(a)! {{student}}</strong>
<p>Sua matrícula foi realizada com sucesso, comfira os detalhes abaixo:</p>
<p>
  <strong>Client: </strong> {{student}} <br />
  <strong>Plano: </strong>  {{plan}} <br />
  <strong>Duração: </strong> {{duration}} <br />
  <strong>Preço: </strong> {{price}} <br />
  <strong>Preço Total: </strong> {{price_total}} <br />
  <strong>Início: </strong> {{start}} <br />
  <strong>Término: </strong> {{end}} <br />
  <br />
  <small>
    A equipe GymPoint tem o prazer de recebe-lo(a), e estamos a disposição para quaisquer dúvidas.
  </small>
</p>